<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar" ></span>
              <span class="icon-bar" ></span>
              <span class="icon-bar" ></span>
           </button>
           <a href="/" class="navbar-brand">Login Register!</a>
          </div>

          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Login page</a></li>
                <li><a href="/registerForm">Register New User</a></li>
                <li><a href="/resultform">Result Form</a></li>
                <li><a href="/marksentryform">Marks Entry By Admin</a></li>
              </ul>
          </div>
      </div>
</div>