<html>
<head>
{{>head}}
</head>
<body>
<div class="container">
   <div class="row">
   <br><br><br>
   	<h4><code>{{LoginMessage}}</code></h4>
   	<div class="col-md-4">
		<form class="margin-base-vertical" method="post" action="/authenticate">
	          <p class="input-group ">
				<span class="input-group-addon"><span class="icon-user"></span></span>
				<input type="text" required class="form-control input-lg" name="nm" placeholder="Login Name" />
			  </p>
	          <p class="input-group ">
				<span class="input-group-addon"><span class="icon-key"></span></span>
				<input type="password" required class="form-control input-lg" name="pwd" placeholder="Password" />
			  </p>
	          <br/>
			  <p class="text-center">
				<button type="submit" class="btn btn-success btn-lg">Get In</button>
			  </p>
			  	<p class="text-center">
				<a href="/registerForm">Register</a> /
				<a href="/forgotForm">Forgot Password</a>
			 </p>
		</form>
	</div>
	<br><br>

   </div>
 </div>

{{>jsIncludes}}
</body>
</html>