<html>
<head>
{{>head}}
</head>
<body>
{{>menu}}
<div class="container">
  <div class="jumbotron">
     <h3> Enter Roll no. for your Scorecard </h3>
     <form method="post" action="/resultpage">
          <label for="roll">Your Roll number</label>
          <input type="text" required class="form-control input-lg" name="roll" placeholder="Enter your roll number" />

            <BR/>    
            <input type="submit" class="btn btn-primary btn-lg"/>
            <BR/>
      </form>  
  </div>
  </div>


{{>jsIncludes}}
</body>
</html>